<div class="container container-fluid">
    <div class="row mt-5">
    <div class="col-md-6">
        <div style="text-align:center; height: 400px;" class="bg-light">
            <apx-chart
            [series]="chartOptionsStatus.series"
            [chart]="chartOptionsStatus.chart"
            [xaxis]="chartOptionsStatus.xaxis"
            [title]="chartOptionsStatus.title"
            ></apx-chart>
        </div>
    </div>
    <div class="col-md-6" style="height: 400px;">
        <div style="text-align:center; height: 400px;" class="bg-light">
            <apx-chart
            [series]="chartOptionsCategory.series"
            [chart]="chartOptionsCategory.chart"
            [labels]="chartOptionsCategory.labels"
            [title]="chartOptionsCategory.title"
            ></apx-chart>
        </div>
    </div>
</div>
</div>